In [3]:
import pandas as pd

# read csv file into pandas dataframe
df = pd.read_csv('../data/spam_ham_dataset.csv')

In [6]:
df.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [5]:
df = df[["label", "text"]]

In [9]:
# remove \n characters from all columns
df = df.replace('\n', '', regex=True)
df = df.replace('\r', '', regex=True)

In [10]:
df

     label                                               text
0      ham  Subject: enron methanol ; meter # : 988291this...
1      ham  Subject: hpl nom for january 9 , 2001( see att...
2      ham  Subject: neon retreatho ho ho , we ' re around...
3     spam  Subject: photoshop , windows , office . cheap ...
4      ham  Subject: re : indian springsthis deal is to bo...
...    ...                                                ...
5166   ham  Subject: put the 10 on the ftthe transport vol...
5167   ham  Subject: 3 / 4 / 2000 and following nomshpl ca...
5168   ham  Subject: calpine daily gas nomination>>julie ,...
5169   ham  Subject: industrial worksheets for august 2000...
5170  spam  Subject: important online banking alertdear va...

[5171 rows x 2 columns]

In [12]:
# save dataframe to csv file
df.to_csv('../data/spam_ham_prepped.csv', index=False)